@using BlazorDemo.Client.Stores

@inherits LayoutComponentBase

@inject TodoStore TodoStore

<div class="page">
    <NavMenu UserName="Make" />

    <main>
        <div class="content m-4">
            @Body
        </div>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await TodoStore.FetchTableVMs();
    }
}
